{% extends "pages/index.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">

  <h1>Informations Logs</h1>
  <span><a href="{{ url_for("func") }}">
      <button class="btn btn-xs btn-primary">Vider</button>
    </a>
    <!-- <a href="{{ url_for("annuler") }}">
      <button class="btn btn-xs btn-primary">Annuler la transaction</button>
    </a> -->
  </span>
  <br><br>

  <!-- DEBUT -->
  <div class="df-example demo-table">
    <table id="example2" class="table">
        <caption>Informations Logs</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>Utilisateur</th>
            <th>Page Consultée</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for trans in transactions_pagination %}
          <tr>
            <td>{{ trans.id }}</td>
            <td>{{ trans.users_transac }}</td>
            <td>{{ trans.nom_transac }}</td>
            <td>{{ trans.heure }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}